* {
    font-family: "Muli", sans-serif;
    margin: 0;
}

input,
button,
.fake-button,
textarea {
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    font-size: 11px;
    border: 1px solid #509aaf;
    width: 85px;
}

button,
.fake-button {
    background: #509aaf;
    cursor: pointer;
}

button:hover,
.fake-button:hover {
    background: #7dd8c7;
}

a {
    text-decoration: none;
    color: #000000;
}

.leftHalf {
    background: #1a181b;
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightHalf {
    background: white;
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right, #0082b3, #02a357); */
}

#acat {
    height: 65%;
}

.rightHalf > div {
    display: flex;
    flex-wrap: wrap;
}

.dvb-container {
    background: #ffcc00;
    width: 200px;
    border-radius: 5px;
    padding: 0 5px 10px 5px;
}

.lines-header,
.lines-container {
    background: #000000;
    color: #a6650c;
}

.lines,
.lines-header {
    display: grid;
    grid-template-columns: 20% 65% 15%;
    /* text-align: center; */
}

.lines-header {
    font-weight: bold;
}

.dvb-headline {
    font-weight: bold;
}

.dvb-container img {
    width: 20px;
    vertical-align: middle;
    padding: 2px;
}

.dvb-container img:nth-child(3) {
    cursor: pointer;
}

.dvb-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.qr-code {
    width: 210px;
    height: 210px;
}

.user-icon {
    width: 75px;
    height: 75px;
    background-color: #ededed;
    color: #1a181b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.app-container {
    margin: 1em;
    display: flex;
}

header .user-icon,
header .icon {
    float: right;
}

.date-container,
.dayz-wrapper {
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.date-container header {
    margin-bottom: 10px;
    margin-right: 20px;
}

.date-container .icons {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.dates {
    width: 400px;
    display: grid;
    grid-template-columns: 20% 69% 11%;
    align-items: center;
    margin: 2px;
}

.dates p {
    font-size: 12px;
    color: #696969;
}

.date-container form {
    display: flex;
    align-items: center;
}

.icon {
    width: 20px;
    cursor: pointer;
}

.dayz-wrapper {
    width: 75%;
}

.dayz-wrapper > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dayz-wrapper .icon {
    margin: 10px;
}

.dayz-wrapper h3,
.dayz-wrapper .fake-button {
    text-align: center;
    margin: 10px;
}
