/*
- blue: rgb(0,132,176)
- green: rgb(0,163,86)
- dark grey: #1a181b
- grey: rgb(77,77,76)
 */

body {
    margin: 0;
}

input,
button,
textarea {
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    font-size: 11px;
    border: 1px solid rgb(0, 132, 176);
    width: 100px;
}

button {
    background: rgb(0, 132, 176);
    cursor: pointer;
}

button:hover {
    background: rgb(0, 163, 86);
}

a {
    text-decoration: none;
    color: #000000;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h3 {
    margin: 5px;
}

.icon {
    height: 20px;
    cursor: pointer;
}

.modal {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-inside {
    background-color: white;
    border-radius: 5px;
    z-index: 20;
    padding: 2em;
    min-width: 45%;
    max-width: 65%;
    overflow-y: scroll;
    max-height: 90%;
}

.dvb-container header,
.modal-inside header,
.weather-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

/* login */

.user-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-login-container {
    max-width: 25%;
}

.qr-code {
    width: 210px;
    height: 210px;
}

.user-icon {
    width: 75px;
    height: 75px;
    object-fit: contain;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-icon:active {
    box-shadow: 0 2px 8px 0 rgba(0, 132, 176, 0.5);
    transform: translateY(2px);
}

/* dvb */

.dvb-container {
    background: #ffcc00;
    width: 200px;
    border-radius: 5px;
    padding: 0 5px 10px 5px;
}

.dvb-container main {
    padding: 3px;
    background: #000000;
    color: #a6650c;
    font-size: 13px;
}

.dvb-container header {
    padding-top: 7px;
    padding-bottom: 10px;
}

.lines,
.lines-header {
    display: grid;
    grid-template-columns: 20% 65% 15%;
    line-height: 135%;
}

.lines-header {
    font-weight: bold;
}

.lines span:nth-child(odd),
.lines-header span:nth-child(odd) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dvb-headline {
    font-weight: bold;
}

.dvb-container img {
    vertical-align: middle;
}

.dvb-container img:nth-child(1) {
    width: 30px;
    vertical-align: middle;
    padding: 2px;
}

/* weather */

.weather-container {
    width: 200px;
    background-color: rgb(0, 132, 176);
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.forecast {
    font-size: 12px;
}

.forecast > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
}

.forecast img {
    height: 35px;
}

.forecast .min,
.forecast .max {
    font-size: 14px;
}

.forecast .min {
    color: #88b8d2;
}

.forecast .max {
    color: #dcaeab;
}

/* clock */
.clock {
    font-family: "Share Tech Mono", monospace;
    background: #0f3854;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
    background-size: 100%;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.clock span:nth-child(2) {
    letter-spacing: 0.05em;
    font-weight: bold;
}

.clock span:nth-child(1) {
    letter-spacing: 0.1em;
    font-size: 12px;
}

/* app */

.app-container,
.login-container {
    background-image: linear-gradient(to right, rgb(0, 132, 176), rgb(0, 163, 86));
    min-height: 100vh;
}

.app-container > header,
.login-container > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a181b;
    height: 100px;
}

.app-container > header > img:nth-child(1),
.app-container > header > a > img:nth-child(1),
.login-container > header > img:nth-child(1) {
    height: 90px;
    margin: 10px;
}

.app-container > header > img:nth-child(2),
.login-container > header > img:nth-child(2) {
    height: 40px;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-container .dashboard {
    align-items: center;
}

.date-container,
.bar-container,
.shop-container,
.login-container .dashboard > div {
    margin: 1em;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 5px;
}

.date-container form,
.shop-container form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-container header,
.shop-container header {
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* dates/calendar */

.date-container .icons {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.dates {
    min-width: 510px;
    display: grid;
    grid-template-columns: 20% 66% 14%;
    align-items: center;
    margin: 2px;
}

.dates p {
    font-size: 12px;
    color: #696969;
    margin: 2px;
}

.dates .delete-icons {
    display: flex;
    justify-content: center;
}

.dayz-wrapper > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dayz-wrapper .icon {
    margin: 10px;
}

.dayz-wrapper h3 {
    text-align: center;
    margin: 10px;
}

/* bar/drinks */

.bar-container {
    max-width: 40%;
}

.drinks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.drink-icon {
    height: 150px;
    width: 100px;
    margin: 5px 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
}

.drink-icon > div {
    /* height: 100%;
    width: 100%; */
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drink-icon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 132, 176, 0.5);
}

.drink-icon:active {
    box-shadow: 0 2px 8px 0 rgba(0, 132, 176, 0.5);
    transform: translateY(2px);
}

.drink-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.drink-buttons .icon {
    margin: 2px;
}

/* shop */

.shop-container {
    min-width: 300px;
}

.shop-container > .icon {
    display: block;
    margin: 10px auto;
}

.expenses {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    text-align: right;
}

.expenses span:nth-child(1) {
    text-align: left;
}

.expense-container div,
.expenses.header {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    padding: 10px;
}

.expense-container div:nth-child(odd) {
    background-color: #fff;
}

.expenses.header {
    margin-top: 10px;
    font-weight: bold;
}

@media only screen and (max-device-width: 1000px) {
    .bar-container,
    .modal-inside {
        max-width: 95%;
    }

    .dates,
    .shop-container {
        min-width: 95%;
    }
}
